Fabric
Flask
Lasagne
Pattern
Pillow
PyInstaller
Sphinx
Tempita
argparse
blocks
colorama
decorator
functools32
gensim
glove
gnureadline
h5py
lxml
matplotlib
nltk
pandas
passage
picklable-itertools
progressbar
protobuf
psycopg2
python-dateutil
scikit-learn
scipy
six
snowballstemmer
urllib3
xgboost
xlrd
xlwt