Cython==0.22
Keras==0.2.0
Lasagne==0.1
Pattern==2.6
Pillow==2.8.2
PyInstaller==3.0
PyYAML==3.11
Pygments==2.0.2
SQLAlchemy==0.9.9
Sphinx==1.3.1
Tempita==0.5.2
-e git+https://github.com/Theano/Theano.git@9b10aaeebb14f78d075fdff6a5f6ac6ecd5516ce#egg=Theano-master
argparse==1.3.0
colorama==0.2.5
decorator==3.4.2
functools32==3.2.3.post1
gensim==0.11.1-1
glove==0.0.1
gnureadline==6.3.3
h5py==2.5.0
httpretty==0.8.3
image==1.4.0
ipython==3.1.0
jsonschema==2.5.1
leveldb==0.193
libxml2dom==0.5
lockfile==0.11.0
luigi==1.3.0
lxml==3.5.0
matplotlib==1.4.3
mixpanel-py==4.0.3
networkx==1.9.1
nltk==3.0.3
numpy==1.9.2
numpydoc==0.5
pandas==0.16.0
paramiko==1.16.0
-e git+https://github.com/IndicoDataSolutions/Passage.git@4b8be6dc4d17ccc78a21abc82afb2d0f72c04b91#egg=passage-master
pbr==0.11.0
picklable-itertools==0.1.0
prettytable==0.7.2
progressbar==2.3
progressbar2==2.7.3
protobuf==3.0.0a3
psutil==3.2.0
psycopg2==2.6.1
ptyprocess==0.5
pudb==2015.3
pyasn1==0.1.7
pycrypto==2.6.1
pydot==1.0.2
pyminifier==2.2
pymongo==3.0.2
pyparsing==1.5.7
rsa==3.1.4
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.15.1
six==1.10.0
smart-open==1.2.1
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.8
sqlalchemy-migrate==0.9.6
sqlparse==0.1.15
tornado==4.2
urllib3==1.7.1
xgboost==0.32
xlrd==0.9.3
xlwt==1.0.0
